body {
    background: url("../images/bg-intro-desktop.png");
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.4rem;
}

.terms-text {
    font-size: 0.8rem;
    color: $colorGrayishBlue;
}

.try-it,
.form-box {
    border-radius: 0.6rem;
}

@media(max-width: 576px) {
    body {
        background: url("../images/bg-intro-mobile.png");
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 3rem;
    }

    .form-control,
    .attribution {
        font-size: 0.8rem !important;
    }
}